h1, h2, h3 {
    font-family: consolas;
}

h2 {
    font-size: 110%;
}

h3 {
    font-size: 95%;
}

button {
    border-style: double;
    border-color: rgb(10,15,10);
    border-width: 200%;
    border-radius: 10%;
    background-color: rgb(30,200,230);
}

button:hover {
    background-color: rgb(30,150,180);
}

button:active {
    background-color: rgb(30,130,150);
}

body {
    text-align: center;
}